// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// Flag Icon CSS
@import "~flag-icon-css/sass/flag-icon";

@import "~selectize-bootstrap4-theme";

//@import '~@fortawesome/fontawesome-free/scss/fontawesome';
//@import '~@fortawesome/fontawesome-free/scss/regular';
//@import '~@fortawesome/fontawesome-free/scss/solid';
//@import '~@fortawesome/fontawesome-free/scss/brands';

span.fa-asterisk {
    padding-top: 10px;
}

span.fa-eye-slash, span.fa-eye {
    padding-top: 9px;
}

div.js-cookie-consent {
    border: 1px solid black;
    background-color: $yellow;
    text-align: center;
    width: 95%;
    margin: 10px auto 10px auto;
    padding: 1em;
    height: 3.5rem;
}

.js-cookie-consent-agree {
    background-color: inherit !important;
    border-radius: .5em !important;
    border: 1px solid black;
}
